/* Reseta zoom no telemóvel */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.chatbot-container {
    width: 400px;
    max-width: 90%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Header */
.chat-header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

/* Chat Body */
.chat-body {
    padding: 15px;
    overflow-y: auto;
    height: 300px;
}

/* Mensagens */
.chat-message {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.message-content {
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

/* Respostas do Bot */
.message-content.bot {
    background-color: #e9e9e9;
}

.message-content.user {
    background-color: #007BFF;
    color: #fff;
}

/* Chat Footer */
.chat-footer {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chat-footer button {
    margin-left: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-footer button:hover {
    background-color: #0056b3;
}

/* Botão de Modo Escuro/Claro */
#toggleTheme {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

#toggleTheme:hover {
    opacity: 0.8;
}

/* Crédito */
.credit {
    text-align: center;
    padding: 15px;
    font-weight: bold;
    color: #666;
    background-color: #eaeaea;
    font-size: 14px;
    border-top: 1px solid #ccc;
}
